.header {
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #D9D9D9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    height: 30px;
    width: auto;
}

.report-btn {
    background-color: #E65639;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

.language-switch {
    background-color: #E65639;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.hero-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.hero {
    position: relative;
    padding-top: 0;
    min-height: 18rem;
    background-color: #ECE9E9;
}

.hero-title {
    position: absolute;
    top: 0.8rem;
    left: 1.7rem;
    width: calc(100% - 3.4rem);
    z-index: 2;
}

.hero-banner {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    margin-top: 0;
    z-index: 1;
}

.map-section img {
    width: 100%;
    height: auto;
    display: block;
}

.map-legend {
    width: 100%;
    font-size: 0.95rem;
    color: #333;
    background-color: #ECE9E9;
    padding: 1rem;
    padding-left: 2.4rem;
}

.map-legend strong {
    display: block;
    margin-bottom: 0.5rem;
    color: #000;
    font-weight: 700;
}

.map-legend div {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.4rem;
}

.swatch {
    width: 1rem;
    height: 1rem;
    border-radius: 0.3rem;
    display: inline-block;
}

.low { background: #FFE6A0; }
.medium { background: #FFC163; }
.high { background: #F5874F; }
.extreme { background: #E65639; }
